/* reset styles */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 6px 8px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Ropa Sans;
  color: #333;
  font-size: 14px;
}

/* Component Styles */
.carousel {
  width: 100%;
  border: solid 1px #ccc;
  background-color: #eee;
}
.carousel_wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 20px;
  background-color: #fff;
}
.carousel_item {
  width: 250px;
  border: solid 1px #bbb;
  display: none;
}

.carousel_item.active {
  display: block;
}
.carousel_item img {
  width: 100%;
  height: 100%;
}
.carousel_actions {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carousel_arrow {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: solid 1px #000;
}
.carousel_arrow.prev img {
  transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
  .carousel_wrapper {
    display: block;
  }
  .carousel_item,
  .carousel_item img {
    width: 100%;
  }
  .carousel_actions {
    padding: 0;
  }
  .carousel_arrow {
    text-align: center;
    position: absolute;
    top: 135px;
    background-color: #fff;
    opacity: 0.4;
    border: none;
    cursor: pointer;
  }
  .carousel_arrow.prev {
    left: -3px;
  }
  .carousel_arrow.next {
    right: -3px;
  }

  .carousel_arrow img {
    width: 40%;
    top: 11px;
    position: absolute;
    right: 15px;
  }
  .carousel_arrow.next img {
    left: 15px;
  }
}
